<div class="indexContainer">
    <div>
        <form action="/createUser" method="post" id="formLayout">
            <label>First name:</label>
            <input type="text" name="firstName" placeholder="Enter your first name">
            <label>Last name:</label>
            <input type="text" name="lastName" placeholder="Enter your last name">
            <label>Username:</label>
            <input type="text" name="username" placeholder="Username">
            <label>Password:</label>
            <input type="password" name="password" placeholder="Password">
            <label>Verify your password:</label>
            <input type="password" name="verifyPassword" placeholder="Reenter Password">
            
            <button class="btnClass" id="BtnCreate">Create</button>
            <a class="btnClass" id="btnClass" href="/login">Cancel</a>

        </form>
    </div>

</div>