<div class="indexContainer">
    <div>
        <form action="/login" method="post" id="formLayout">
            <label>Username:</label>
            <input type="text" name="Username" placeholder="Username">
            <label>Password:</label>
            <input type="text" name="Password" placeholder="Password">

            <button class="btnClass" id="loginBtn">Login</button>
            <a class="btnClass" id="btnClass" href="/">Cancel</a>

        </form>
        <div>
            No Account?<a href="/login">Create One!</a>
        </div>
    </div>

</div>