<h1>remove stuff</h1>

<form action="/remove" method="post">
    <ul>
        <input type="hidden" name="idToDelete" id="idToDelete" value="">
        <% things.forEach(thing=> { %>
            <li class="stuffToDelete" id="<%= thing.stuffId %>">
                <button class="btnDelete" id="btnDelete"
                    onclick="idToDelete.value='<%= thing.stuffId %>'">Delete</button>
                <%= thing.name %>
            </li>
            <% }); %>
    </ul>
</form>
<a href="/">Cancel</a>