body {
    background-color: rgb(29, 29, 29);
    color: rgb(241, 237, 231);
    overflow-x: hidden;
}

.navLinks {
    background-color: gray;
    height: 5vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
}

.navLinks>a:nth-child(1) {
    grid-column: 1/2;
}

.navLinks>a:nth-child(2) {
    grid-column: 2/3;
}

.navLinks>a:nth-child(3) {
    grid-column: 3/4;
}

.navLinks>a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
    text-align: center;
}

.indexContainer {
    width: 100vw;
    height: 95vh;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;

    background-color: rgb(124, 0, 0);
}

.indexContainer>div {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;

    background-color: rgb(5, 138, 0);
}

.indexContainer>div>* {
    text-align: center;
    list-style: none;
    grid-column: 1/2;
    padding: 0;
    margin: 0;

    background-color: rgb(0, 2, 148);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.stuffToDelete {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.stuffToDelete>button {
    grid-column: 1/2;
}

.stuffToDelete:nth-child(2) {
    grid-column: 2/3;
}

.cancelButton {
    height: fit-content;
    background-color: gray;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: white;
}

form {
    padding: 0;
    margin: 0;
}

#formLayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#formLayout:nth-child(odd) {
    text-align: center;
    grid-column: 1/2;
    padding: 0;
    margin: 0;
    height: 5vh;
}

#formLayout:nth-child(even) {
    text-align: center;
    grid-column: 2/3;
    padding: 0;
    margin: 0;
    height: 5vh;
}